body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.largeText {
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;


}

h1 {
  display: block;

  color: rgba(0,0,0,.6);
  text-align: center;
  text-shadow: rgba(0,0,0,.2) 2px 6px 5px,rgba(255,255,255,.4) 0 -4px 30px;
  clear: both;
}

ul {
  display: block;
  clear: both;
}